{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center">
    {% if user.is_authenticated %}
    <div class="col-12">
        <div id="map" style="height: 500px; width: 100%;"></div>
    </div>

    <script>
        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 10,
                center: {lat: 35.6895, lng: 139.6917}
            });

            var geocoder = new google.maps.Geocoder();

            var addresses = {{ addresses|safe }};
            
            addresses.forEach(function(address) {
                geocoder.geocode({'address': address}, function(results, status) {
                    if (status === 'OK') {
                        map.setCenter(results[0].geometry.location);
                        new google.maps.Marker({
                            map: map,
                            position: results[0].geometry.location
                        });
                    } else {
                        alert('Geocode was not successful for the following reason: ' + status);
                    }
                });
            });
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{google_maps_api_key}}&callback=initMap" async defer></script>

    {% endif %}
</div>
{% endblock %}
