<!-- account/templates/account/map.html -->
<!DOCTYPE html>
<html>
<head>
    <title>User Map</title>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap"></script>
    <script>
        function initMap() {
            var geocoder = new google.maps.Geocoder();
            geocoder.geocode({'address': '{{ address }}'}, function(results, status) {
                if (status === 'OK') {
                    var map = new google.maps.Map(document.getElementById('map'), {
                        zoom: 10,
                        center: results[0].geometry.location
                    });
                    var marker = new google.maps.Marker({
                        position: results[0].geometry.location,
                        map: map
                    });
                } else {
                    alert('Geocode was not successful for the following reason: ' + status);
                }
            });
        }
    </script>
</head>
<body onload="initMap()">
    <div id="map" style="height: 500px; width: 100%;"></div>
</body>
</html>
