{% extends 'base.html' %}

{% block content %}
<h1>ユーザ情報一覧</h1>


<ul>
    {% for profile in profiles %}
    <li>
        <a href="{% url 'accounts:profile_detail' pk=user.userprofile.pk %}">
            {{ profile.user.username }} ({{ profile.user.email }}) ({{ profile.user.phone }})
        </a>
        <!-- 編集と削除のリンク -->
        <a href="{% url 'accounts:profile_update' pk=user.userprofile.pk %}">[編集]</a>
        <a href="{% url 'accounts:profile_delete' pk=user.userprofile.pk %}">[削除]</a>
    </li>
    {% endfor %}

    <!-- 新規ユーザー登録のリンク -->
    <a href="{% url 'accounts:profile_create' %}">新規ユーザー登録</a>

</ul>
{% endblock %}
